//editor styles

link(rel='stylesheet' href='codemirror/lib/codemirror.css')
link(rel='stylesheet' href='codemirror/theme/xq-light.css')
link(rel='stylesheet' href='styles/ui/editor.css')

//editor template

h1 cyEditor

p {{editor.title}}

label Sketch Title: 

input(type="text" name="input" ng-model="title")

div(id='editor-container')
  textarea(id='code')

input(id='save' type='submit' value='Submit' ng-click="onSubmit()")
