//cyEditor styles

link(rel='stylesheet' href='codemirror/lib/codemirror.css')
link(rel='stylesheet' href='codemirror/theme/xq-light.css')
link(rel='stylesheet' href='styles/ui/cyEditor.css')

// cyEditor Template

div(id='cy-editor-window' class='widget-main')

  div(class='widget-top-panel')

    p(class='widget-title uk-text-large') 

      i(class='uk-icon-chevron-down uk-text-bold uk-text-right')

      |  Sketch Editor 

  div(class='widget-content')

    div(id='code-ide')

      p {{editor.title}}

      label Sketch Title: 

      input(type="text" name="input" ng-model="title")

      textarea(id='code')

      input(id='save' type='submit' value='Submit' ng-click="onSubmit()")
