//cyEditor styles

link(rel='stylesheet' href='codemirror/lib/codemirror.css')
link(rel='stylesheet' href='codemirror/theme/xq-light.css')
link(rel='stylesheet' href='styles/ui/cyEditor.css')

// cyEditor template

div(id='resizable' class='ui-widget-content')

div(id='cy-editor' class='widget-main')

  div(class='widget-top-panel uk-grid uk-text-large')

    div(class='panel-left uk-width-1-2')
      p(class='widget-title') 
        //i(class='uk-icon-chevron-down uk-text-bold uk-text-left') 
        | Sketch Editor 
        input(type="text" name="input" ng-model="title")

    div(class='panel-right uk-width-1-2')
      div(id='save' class='uk-button' ng-click="onSubmit()")
        i(class='uk-icon-save uk-text-bold uk-text-right')

  div(class='widget-content')
    div(class='editor')
      textarea(id='code')