link(rel='stylesheet' href='/styles/normalize.css')
link(rel='stylesheet' href='/font-awesome/css/font-awesome.css')
link(rel='stylesheet' href='/uikit/dist/css/uikit.css')
link(rel='stylesheet' href='/uikit/dist/css/uikit.gradient.css')
link(rel='stylesheet' href='/highlightjs/styles/arta.css')