extends layout

block content
  h1= title
  p Welcome to #{title}
  video(width="320", height="240")
    source(src="videos/ships.webm", type="video/webm")
    |Your browser does not support the video tag.