doctype html
html(lang='en' ng-app='cytoApp' ng-cloak)
  
  head

    meta(charset='utf-8')
    base(href='/')

    title= title

    include /includes/lib-styles.jade
    include /includes/user-styles.jade

  body(class='uk-height-1-1 bitch')

    div(id='veil')

    block content

    //all scripts loaded via requirejs
    script(src='/requirejs/require.js' data-main='/scripts/main')