
.widget-main {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 70%;
  padding: 0 !important;
  padding-left: 10px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  //pointer-events: none;
}

.widget-content {

  padding: 0 !important;

  .editor {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FEFEFE;
    
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      pointer-events: auto !important;
      background: #FEFEFE;
    }
  }
}

#save {
  pointer-events: auto;
}

input {
  color: black;
  font-size: 10px;
}
.error {
  color: red;
}
.input {
  width: 100%;
  background: transparent;
}
.my-input.ng-invalid {
  color:white;
  background: red;
}