#editor-window {

  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  padding: 0 !important;
  pointer-events: none;
}

.widget-content {
  padding: 0 !important;
  .editor {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FEFEFE;
    
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      pointer-events: auto !important;
      background: #FEFEFE;
    }
  }
}

#save {
  pointer-events: auto;
}

input {
  color: black;
  font-size: 10px;
}
.error {
  color: red;
}
.input {
  width: 100%;
  background: transparent;
}
.my-input.ng-invalid {
  color:white;
  background: red;
}