#editor-window {
  position: absolute;
  background: lightgreen;
  width: 50%;
  right: 0;
}
#editor-container {
  background: lightgreen;
  border: thin dashed black;
  font-size: 1em;
  height: 800px;
}
input {
  color: black;
  font-size: 10px;
}
.error {
  color: red;
}
.input {
  width: 100%;
  background: transparent;
}
.my-input.ng-invalid {
  color: white;
  background: red;
}
