#editor-container {
  border: thin dashed black;
  font-size: 1em;
}
input {
  color: black;
  font-size: 10px;
}
.error {
  color: red;
}
.input {
  width: 100%;
  background: transparent;
}
.my-input.ng-invalid {
  color: white;
  background: red;
}
