/* main ui widget styles */

//colors

@base: #012030;
@widget-text-primary: #666666;
@widget-heading-primary: #444444;

.widget-main {

  position: absolute;
  top: 0;
  border: thin solid gray;
  background-color: @base;
  min-width: 100px;

  .widget-resize-handle-left {
    position: absolute;
    top: 0;
    height: 100%;
    width: .1em;
    background: #000;
    cursor: ew-resize;
    pointer-events: auto;
    z-index: 999;
  }

  .widget-top-panel {
    background: #EEEEEE;
    border-bottom: thin solid #EEE;
    width: 100%;
    margin: 0;
    padding: 0;

    .widget-title {
      margin: 0;
      display: inline;
      color: @widget-heading-primary;
    }
    .panel-left, .panel-right {
      padding: .5em;
    }
    .panel-right {
      text-align: right;
      i {
        cursor: pointer;
      }
    }
  }
  .widget-content {
    color: @widget-text-primary;
    padding: 1em; 
  }
}

/* Widget UI
   -------------------------------------------------- */

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}


.ui-resizable-w {
    cursor: ew-resize;
    width: 7px;
    left: 0px;
    top: 0;
    height: 100%;
}