@import '../includes/cyto-colors.less';

/* main ui widget styles */

//colors

.widget-main {

  position: absolute;
  top: 0;
  border: thin solid gray;
  background-color: @color-bg-dark;
  min-width: 100px;

  .widget-resize-handle-left {
    position: absolute;
    top: 0;
    height: 100%;
    width: .1em;
    background: #000;
    cursor: ew-resize;
    pointer-events: auto;
    z-index: 999;
  }

  .widget-top-panel {
    border-bottom: thin solid #EEE;
    width: 100%;
    margin: 0;
    padding: 0;

    .widget-title {
      margin: 0;
      display: inline;
      color: @color-text;
      &.editable {
        background: @color-bg-dark;
        outline: none;
        border: none;
        font-size: 14px;
      }
      &.active {
        background: #4480B2 !important;
      }
    }
    .panel-left, .panel-right {
      padding: .5em;
    }
    .panel-right {
      text-align: right;
      i {
        cursor: pointer;
      }
    }
  }
  .widget-content {
    color: @color-text;
    padding: 1em; 
  }
}

/* Widget UI
   -------------------------------------------------- */

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}


.ui-resizable-w {
    cursor: ew-resize;
    width: 7px;
    left: 0px;
    top: 0;
    height: 100%;
}