/* main ui widget styles */
.widget-main {
  position: absolute;
  top: 0;
  border: thin solid gray;
  background-color: #011722;
  min-width: 100px;
}
.widget-main .widget-resize-handle-left {
  position: absolute;
  top: 0;
  height: 100%;
  width: .1em;
  background: #000;
  cursor: ew-resize;
  pointer-events: auto;
  z-index: 999;
}
.widget-main .widget-top-panel {
  border-bottom: thin solid #EEE;
  width: 100%;
  margin: 0;
  padding: 0;
}
.widget-main .widget-top-panel .widget-title {
  margin: 0;
  display: inline;
  color: #f5f5f5;
}
.widget-main .widget-top-panel .widget-title.editable {
  background: #011722;
  outline: none;
  border: none;
  font-size: 14px;
}
.widget-main .widget-top-panel .widget-title.active {
  background: #4480B2 !important;
}
.widget-main .widget-top-panel .panel-left,
.widget-main .widget-top-panel .panel-right {
  padding: .5em;
}
.widget-main .widget-top-panel .panel-right {
  text-align: right;
}
.widget-main .widget-top-panel .panel-right i {
  cursor: pointer;
}
.widget-main .widget-content {
  color: #f5f5f5;
  padding: 1em;
}
/* Widget UI
   -------------------------------------------------- */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-w {
  cursor: ew-resize;
  width: 7px;
  left: 0px;
  top: 0;
  height: 100%;
}
