@import url(http://fonts.googleapis.com/css?family=Lekton|Mako|Cutive+Mono|Antic|Muli|Play|Jura|Telex);
body {
  background: #011722;
  font-weight: 300;
  font-family: 'Muli', Arial, sans-serif;
  font-size: 1rem;
  line-height: 28px;
  color: #00ffff;
}
a {
  text-decoration: underline;
  color: #00ffff;
  outline: none;
}
a:hover,
a:focus {
  color: #00ffff;
  outline: none;
}
/* cyto container */
.cyto {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* canvas
   --------------------------------------------------- */
#sketch {
  position: absolute;
  top: 0;
}
/* menu
   --------------------------------------------------- */
#trigger {
  font-size: 50px;
  margin-left: .3em;
  display: none;
}
