doctype html
html(lang="en" ng-app="cytoApp")
  
  head

    meta(charset="utf-8")
    
    title= title
    link(rel='stylesheet' href='/styles/normalize.css')
    link(rel='stylesheet' href='/uikit/dist/css/uikit.css')
    link(rel='stylesheet' href='/uikit/dist/css/uikit.gradient.css')
    link(rel='stylesheet' href='/styles/main.css')
    link(rel='stylesheet' href='/highlightjs/styles/arta.css')

  body(class='uk-height-1-1')

    block content

    // data-main sets config opts for rjs, then loads app
    script(src='/requirejs/require.js' data-main='/scripts/config')