doctype html
html(lang='en' ng-app='cytoApp')
  
  head

    meta(charset='utf-8')
    base(href='/')

    title= title

    link(rel='stylesheet' href='/styles/normalize.css')
    link(rel='stylesheet' href='/uikit/dist/css/uikit.css')
    link(rel='stylesheet' href='/uikit/dist/css/uikit.gradient.css')
    link(rel='stylesheet' href='/styles/main.css')
    link(rel='stylesheet' href='/highlightjs/styles/arta.css')

  body(class='uk-height-1-1')

    h4.
      AngularJS + RequireJS

    ul(class='menu')
      li
        a(ui-sref='/editor').
          editor

    div(ng-view)

    hr

    div(class='container')
      div(ui-view)

    block content

    //all scripts loaded via requirejs
    script(src='/requirejs/require.js' data-main='/scripts/main')
    //- script(src="codemirror/lib/codemirror.js")
    //- script(src="codemirror/mode/javascript/javascript.js")