doctype html
html
  
  head

    meta(charset="utf-8")
    
    title= title
    link(rel='stylesheet' href='/styles/normalize.css')
    link(rel='stylesheet' href='/styles/widgets/widgets.css')
    link(rel='stylesheet' href='/styles/widgets/timeline.css')

  body
    
    block content
